############################################################
# Terraform directories
############################################################

# Provider plugins downloaded by terraform init
.terraform/


############################################################
# Terraform state files
# These contain infrastructure details and sometimes secrets
############################################################

*.tfstate
*.tfstate.*


terraform.tfstate
terraform.tfstate.backup


############################################################
# Terraform plan files
############################################################

*.tfplan
*.plan


############################################################
# Terraform variable secrets
############################################################

*.tfvars
*.tfvars.json

# Optional override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


############################################################
# Terraform lock handling
############################################################

# Usually COMMIT this for team consistency.
# Do NOT ignore:
# .terraform.lock.hcl


############################################################
# Crash logs
############################################################

crash.log
crash.*.log


############################################################
# SSH Keys
############################################################

*.pem
*.key
id_rsa
id_rsa.pub


############################################################
# macOS
############################################################

.DS_Store


############################################################
# IDE
############################################################

.vscode/
.idea/



############################################################
# Ansible
############################################################
.ansible
inventory.ini
ansible.cfg

############################################################
# image-mode-hackaton git repo 
############################################################

image-mode-hackathon 
